.idea/
.vscode
.git
.gitignore
__pycache__/
*.pyc
pycache/
.venv/
venv/
app/tests/
cloud-scheduler/
docs/
.coverage
.env
.pytest_cache/
.mypy_cache/
dist/
build/
*.log
coverage.xml
db_design.sql
LICENSE
*.md
Requirements.txt
docker-compose.yml
.pre-commit-config.yaml
node_modules/
